html {
  background-color: #645b6a;
  background-image: url(/images/madaras-true-susanoo-form1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
}
body {
  width: 800px;
  margin: 50px auto 0 auto;
  background-color: #924b4e;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #6ea0fd;
  text-shadow: 3px 3px 1px black;
}
p {
    color: white;
    width: auto;
    font-size: 16px;
  }
button {
  width: 180px;
  height: 20px;
  background-color: #6ea0fd;
  border: 1px solid black;
  position: relative;;
}  
